<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

    <title>Animals</title>
</head>
<body>
<div class="container-fluid">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="card">
        <div class="card-body">
            <h3>Животные</h3>
            <div class="navbar-nav nav-list">
                <a class="nav-item nav-link" th:href="@{/animals/dogs}">Собаки</a>
                <a class="nav-item nav-link" th:href="@{/animals/birds}">Птицы</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>